docs/n8n/mayer-meta-ads-insights-daily-workflow.json
{
  "name": "Mayer - Meta Ads Insights (Daily)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 4 * * *"
            }
          ]
        }
      },
      "id": "mad-0001-4a10-9000-000000000001",
      "name": "Daily 04:00 Paris",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Config : comptes Meta Ads à scanner + période glissante.\n//\n// date_preset=last_7d → à chaque run on recalcule les 7 derniers jours\n// (Meta rétro-corrige les attributions jusqu'à J-28).\n//\n// BACKFILL MANUEL :\n//   Passer BACKFILL_MODE à true ci-dessous → date_preset='maximum' (tout l'historique)\n//   Lancer 1 run manuel, puis REMETTRE à false AVANT d'activer le cron quotidien.\n\nconst BACKFILL_MODE = false;\n\nconst ORG_ID = '3c68193e-783b-4aa9-bc0d-fb2ce21e99b1';\n\nconst accounts = [\n  { id: 'act_1147055617398773', name: 'Mayer Energie Clim' },\n  { id: 'act_1198344052455745', name: 'Mayer Energie Poêle' },\n];\n\nconst datePreset = BACKFILL_MODE ? 'maximum' : 'last_7d';\n\nreturn accounts.map((acc) => ({\n  json: {\n    org_id: ORG_ID,\n    ad_account_id: acc.id,\n    ad_account_name: acc.name,\n    date_preset: datePreset,\n  },\n}));\n"
      },
      "id": "mad-0002-4a10-9000-000000000002",
      "name": "Build Account List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "mad-0003-4a10-9000-000000000003",
      "name": "Loop Accounts",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v21.0/{{$json.ad_account_id}}/insights",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "level", "value": "campaign" },
            { "name": "date_preset", "value": "={{$json.date_preset}}" },
            { "name": "time_increment", "value": "1" },
            { "name": "fields", "value": "campaign_id,campaign_name,spend,impressions,reach,clicks,ctr,cpm,cpc,frequency,actions,date_start,date_stop,objective" },
            { "name": "limit", "value": "500" }
          ]
        },
        "options": {}
      },
      "id": "mad-0004-4a10-9000-000000000004",
      "name": "Fetch Insights (Campaign)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v21.0/{{$('Loop Accounts').item.json.ad_account_id}}/insights",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "level", "value": "adset" },
            { "name": "date_preset", "value": "={{$('Loop Accounts').item.json.date_preset}}" },
            { "name": "time_increment", "value": "1" },
            { "name": "fields", "value": "adset_id,adset_name,campaign_id,campaign_name,spend,impressions,reach,clicks,ctr,cpm,cpc,frequency,actions,date_start,date_stop" },
            { "name": "limit", "value": "500" }
          ]
        },
        "options": {}
      },
      "id": "mad-0005-4a10-9000-000000000005",
      "name": "Fetch Insights (Adset)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v21.0/{{$('Loop Accounts').item.json.ad_account_id}}/campaigns",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "fields", "value": "id,name,status,effective_status,objective,daily_budget,lifetime_budget,budget_remaining" },
            { "name": "limit", "value": "500" }
          ]
        },
        "options": {}
      },
      "id": "mad-0006-4a10-9000-000000000006",
      "name": "Fetch Campaign Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v21.0/{{$('Loop Accounts').item.json.ad_account_id}}/adsets",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "fields", "value": "id,name,status,effective_status,campaign_id,daily_budget,lifetime_budget,budget_remaining" },
            { "name": "limit", "value": "500" }
          ]
        },
        "options": {}
      },
      "id": "mad-0007-4a10-9000-000000000007",
      "name": "Fetch Adset Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 500]
    },
    {
      "parameters": {
        "jsCode": "// Normalise les 4 réponses en rows prêtes pour la RPC d'upsert.\n// Retourne UN SEUL item { rows: [...] } que le node HTTP transmet tel quel.\n\nconst accountCtx = $('Loop Accounts').item.json;\nconst campaignInsights = $('Fetch Insights (Campaign)').first().json.data || [];\nconst adsetInsights = $('Fetch Insights (Adset)').first().json.data || [];\nconst campaignMetaRaw = $('Fetch Campaign Status').first().json.data || [];\nconst adsetMetaRaw = $('Fetch Adset Status').first().json.data || [];\n\nconst toCents = (v) => (v == null || v === '' ? 0 : Math.round(parseFloat(v) * 100));\nconst toInt = (v) => (v == null || v === '' ? 0 : parseInt(v, 10) || 0);\nconst toFloat = (v) => (v == null || v === '' ? null : parseFloat(v));\n\n// Meta expose plusieurs action_type pour le MÊME lead (onsite_conversion.lead_grouped,\n// lead, offsite_complete_registration_add_meta_leads...). On prend le MAX des 3 types\n// représentatifs pour éviter le double/triple comptage.\nconst LEAD_ACTION_TYPES = [\n  'onsite_conversion.lead_grouped',\n  'lead',\n  'offsite_conversion.fb_pixel_lead',\n];\nconst extractLeads = (actions) => {\n  if (!Array.isArray(actions)) return 0;\n  let max = 0;\n  for (const type of LEAD_ACTION_TYPES) {\n    const v = actions\n      .filter((a) => a.action_type === type)\n      .reduce((sum, a) => sum + (parseInt(a.value, 10) || 0), 0);\n    if (v > max) max = v;\n  }\n  return max;\n};\n\nconst statusByCampaign = new Map(campaignMetaRaw.map((c) => [c.id, c]));\nconst statusByAdset = new Map(adsetMetaRaw.map((a) => [a.id, a]));\n\n// Budget courant : renseigné UNIQUEMENT sur le jour du fetch (today)\n// pour préserver l'historique réel.\nconst todayISO = new Date().toISOString().slice(0, 10);\n\n// CBO vs ABO : si le budget campagne est 0, on somme les budgets des adsets\n// de cette campagne (ABO = Ad Set Budget Optimization).\nconst adsetBudgetByCampaign = new Map();\nfor (const a of adsetMetaRaw) {\n  const camp = a.campaign_id;\n  if (!camp) continue;\n  const bucket = adsetBudgetByCampaign.get(camp) || { daily: 0, lifetime: 0 };\n  bucket.daily += toInt(a.daily_budget);\n  bucket.lifetime += toInt(a.lifetime_budget);\n  adsetBudgetByCampaign.set(camp, bucket);\n}\n\nconst effectiveCampaignBudget = (campMeta) => {\n  const cboDaily = toInt(campMeta.daily_budget);\n  const cboLifetime = toInt(campMeta.lifetime_budget);\n  if (cboDaily > 0 || cboLifetime > 0) {\n    return { daily: cboDaily, lifetime: cboLifetime, remaining: toInt(campMeta.budget_remaining) };\n  }\n  const aboSum = adsetBudgetByCampaign.get(campMeta.id) || { daily: 0, lifetime: 0 };\n  return { daily: aboSum.daily, lifetime: aboSum.lifetime, remaining: null };\n};\n\nconst rows = [];\n\nfor (const r of campaignInsights) {\n  const meta = statusByCampaign.get(r.campaign_id) || {};\n  const isToday = r.date_start === todayISO;\n  const budget = isToday ? effectiveCampaignBudget(meta) : null;\n  rows.push({\n    org_id: accountCtx.org_id,\n    ad_account_id: accountCtx.ad_account_id,\n    ad_account_name: accountCtx.ad_account_name,\n    entity_level: 'campaign',\n    entity_id: r.campaign_id,\n    entity_name: r.campaign_name || meta.name,\n    entity_status: meta.effective_status || meta.status,\n    parent_campaign_id: null,\n    parent_campaign_name: null,\n    parent_adset_id: null,\n    parent_adset_name: null,\n    campaign_objective: r.objective || meta.objective,\n    date_start: r.date_start,\n    spend_cents: toCents(r.spend),\n    impressions: toInt(r.impressions),\n    reach: toInt(r.reach),\n    clicks: toInt(r.clicks),\n    ctr: toFloat(r.ctr),\n    cpm_cents: toCents(r.cpm),\n    cpc_cents: toCents(r.cpc),\n    frequency: toFloat(r.frequency),\n    leads_meta: extractLeads(r.actions),\n    daily_budget_cents: budget ? budget.daily : null,\n    lifetime_budget_cents: budget ? budget.lifetime : null,\n    budget_remaining_cents: budget ? budget.remaining : null,\n    raw_payload: r,\n    fetched_at: new Date().toISOString(),\n  });\n}\n\nfor (const r of adsetInsights) {\n  const adsetMeta = statusByAdset.get(r.adset_id) || {};\n  const campMeta = statusByCampaign.get(r.campaign_id) || {};\n  const isToday = r.date_start === todayISO;\n  rows.push({\n    org_id: accountCtx.org_id,\n    ad_account_id: accountCtx.ad_account_id,\n    ad_account_name: accountCtx.ad_account_name,\n    entity_level: 'adset',\n    entity_id: r.adset_id,\n    entity_name: r.adset_name || adsetMeta.name,\n    entity_status: adsetMeta.effective_status || adsetMeta.status,\n    parent_campaign_id: r.campaign_id,\n    parent_campaign_name: r.campaign_name || campMeta.name,\n    parent_adset_id: null,\n    parent_adset_name: null,\n    campaign_objective: campMeta.objective,\n    date_start: r.date_start,\n    spend_cents: toCents(r.spend),\n    impressions: toInt(r.impressions),\n    reach: toInt(r.reach),\n    clicks: toInt(r.clicks),\n    ctr: toFloat(r.ctr),\n    cpm_cents: toCents(r.cpm),\n    cpc_cents: toCents(r.cpc),\n    frequency: toFloat(r.frequency),\n    leads_meta: extractLeads(r.actions),\n    daily_budget_cents: isToday ? toInt(adsetMeta.daily_budget) : null,\n    lifetime_budget_cents: isToday ? toInt(adsetMeta.lifetime_budget) : null,\n    budget_remaining_cents: isToday ? toInt(adsetMeta.budget_remaining) : null,\n    raw_payload: r,\n    fetched_at: new Date().toISOString(),\n  });\n}\n\nreturn [{ json: { rows } }];\n"
      },
      "id": "mad-0008-4a10-9000-000000000008",
      "name": "Normalize Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 350]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://odspcxgafcqxjzrarsqf.supabase.co/rest/v1/rpc/meta_ads_upsert_daily_stats",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { p_rows: $json.rows } }}",
        "options": {}
      },
      "id": "mad-0009-4a10-9000-000000000009",
      "name": "Upsert via RPC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 350],
      "notesInFlow": true,
      "notes": "Appelle public.meta_ads_upsert_daily_stats(p_rows jsonb). Credential 'Supabase API' requis avec la SERVICE_ROLE_KEY (pas anon)."
    }
  ],
  "connections": {
    "Daily 04:00 Paris": {
      "main": [[{ "node": "Build Account List", "type": "main", "index": 0 }]]
    },
    "Build Account List": {
      "main": [[{ "node": "Loop Accounts", "type": "main", "index": 0 }]]
    },
    "Loop Accounts": {
      "main": [
        [],
        [{ "node": "Fetch Insights (Campaign)", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Insights (Campaign)": {
      "main": [[{ "node": "Fetch Insights (Adset)", "type": "main", "index": 0 }]]
    },
    "Fetch Insights (Adset)": {
      "main": [[{ "node": "Fetch Campaign Status", "type": "main", "index": 0 }]]
    },
    "Fetch Campaign Status": {
      "main": [[{ "node": "Fetch Adset Status", "type": "main", "index": 0 }]]
    },
    "Fetch Adset Status": {
      "main": [[{ "node": "Normalize Rows", "type": "main", "index": 0 }]]
    },
    "Normalize Rows": {
      "main": [[{ "node": "Upsert via RPC", "type": "main", "index": 0 }]]
    },
    "Upsert via RPC": {
      "main": [[{ "node": "Loop Accounts", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "triggerCount": 1
}
