docs/n8n/mayer-meta-leads-polling-workflow.json
{
  "name": "Mayer - Meta Leads (Polling)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "e4c9b2a1-0001-4a10-9000-000000000001",
      "name": "Every 15 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://graph.facebook.com/v21.0/929936063541162/leadgen_forms",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "id,name,status"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "e4c9b2a1-0002-4a10-9000-000000000002",
      "name": "List Forms (Page)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "REPLACE_WITH_GRAPH_CRED_ID",
          "name": "Facebook Graph API — Mayer"
        }
      },
      "notes": "Liste tous les formulaires Lead Ads de la Page Mayer Energie."
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "e4c9b2a1-0003-4a10-9000-000000000003",
      "name": "Split Forms",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v21.0/{{$json.id}}/leads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "field_data,created_time,ad_id,ad_name,adset_id,adset_name,campaign_id,campaign_name,form_id"
            },
            {
              "name": "since",
              "value": "={{ Math.floor((Date.now() - 30 * 60 * 1000) / 1000) }}"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "e4c9b2a1-0004-4a10-9000-000000000004",
      "name": "Fetch Leads (Graph API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "REPLACE_WITH_GRAPH_CRED_ID",
          "name": "Facebook Graph API — Mayer"
        }
      },
      "notes": "Récupère les leads des 30 dernières minutes pour chaque formulaire."
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "e4c9b2a1-0005-4a10-9000-000000000005",
      "name": "Split Leads",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst fields = raw.field_data || [];\n\nconst getField = (...names) => {\n  for (const name of names) {\n    const f = fields.find((x) => (x.name || '').toLowerCase() === name.toLowerCase());\n    if (f) {\n      const v = Array.isArray(f.values) ? f.values[0] : f.values;\n      if (v != null && v !== '') return String(v).trim();\n    }\n  }\n  return null;\n};\n\nconst cleanPhone = (p) => {\n  if (!p) return null;\n  const kept = p.replace(/[^0-9+]/g, '');\n  return kept || null;\n};\n\nconst cleanPostal = (p) => {\n  if (!p) return null;\n  const m = String(p).match(/\\b\\d{5}\\b/);\n  return m ? m[0] : String(p).replace(/\\D/g, '').slice(0, 5) || null;\n};\n\n// Récupère first_name / last_name, OU tente de splitter un champ 'full name' combiné\nlet firstName = getField('first_name', 'prenom', 'prénom');\nlet lastName = getField('last_name', 'nom', 'family_name');\n\nif (!firstName && !lastName) {\n  const fullName = getField('full_name', 'full name', 'name', 'nom_complet', 'nom complet');\n  if (fullName) {\n    const parts = fullName.trim().split(/\\s+/);\n    firstName = parts[0] || null;\n    lastName = parts.slice(1).join(' ') || null;\n  }\n}\n\nconst normalized = {\n  first_name: firstName ? firstName.toUpperCase() : null,\n  last_name: lastName ? lastName.toUpperCase() : null,\n  email: getField('email'),\n  phone: cleanPhone(getField('phone_number', 'phone', 'telephone', 'téléphone')),\n  postal_code: cleanPostal(getField('post_code', 'zip_code', 'postal_code', 'code_postal', 'codepostal')),\n  city: getField('city', 'ville'),\n  external_id: raw.id || null,\n  created_time: raw.created_time || null,\n  meta_raw: raw,\n};\n\nreturn [{ json: normalized }];"
      },
      "id": "e4c9b2a1-0006-4a10-9000-000000000006",
      "name": "Normalize Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://odspcxgafcqxjzrarsqf.supabase.co/rest/v1/rpc/assign_commercial_by_postal_code",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "__SUPABASE_SERVICE_ROLE_KEY__"
            },
            {
              "name": "Authorization",
              "value": "Bearer __SUPABASE_SERVICE_ROLE_KEY__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_postal_code\": {{ JSON.stringify($json.postal_code) }},\n  \"p_org_id\": \"3c68193e-783b-4aa9-bc0d-fb2ce21e99b1\"\n}",
        "options": {}
      },
      "id": "e4c9b2a1-0007-4a10-9000-000000000007",
      "name": "Assign Commercial",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('Normalize Lead').first().json;\nconst assignRes = $input.first().json;\n\n// La RPC renvoie désormais { commercial_id: \"uuid\" } ou { commercial_id: null }\nconst assignedId = assignRes?.commercial_id || null;\n\nconst ORG_ID = '3c68193e-783b-4aa9-bc0d-fb2ce21e99b1';\nconst SOURCE_META_ADS = 'acbc8b79-5ca5-493e-a671-36963af2429a';\nconst STATUS_NOUVEAU = 'ea926b9a-521c-4012-a60b-85b6f7e5c09c';\n\nconst payload = {\n  p_data: {\n    org_id: ORG_ID,\n    first_name: normalized.first_name,\n    last_name: normalized.last_name,\n    email: normalized.email,\n    phone: normalized.phone,\n    postal_code: normalized.postal_code,\n    city: normalized.city,\n    source_id: SOURCE_META_ADS,\n    status_id: STATUS_NOUVEAU,\n    assigned_user_id: assignedId,\n    probability: 10,\n    notes: `Lead Meta Ads — ${normalized.created_time || new Date().toISOString()}`,\n    external_id: normalized.external_id,\n    external_source: 'meta_ads',\n    external_data: normalized.meta_raw,\n  },\n};\n\nreturn [{ json: payload }];"
      },
      "id": "e4c9b2a1-0008-4a10-9000-000000000008",
      "name": "Build Lead Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://odspcxgafcqxjzrarsqf.supabase.co/rest/v1/rpc/create_lead_from_webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "__SUPABASE_SERVICE_ROLE_KEY__"
            },
            {
              "name": "Authorization",
              "value": "Bearer __SUPABASE_SERVICE_ROLE_KEY__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "e4c9b2a1-0009-4a10-9000-000000000009",
      "name": "Create Lead (Supabase)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        300
      ]
    }
  ],
  "connections": {
    "Every 15 min": {
      "main": [
        [
          {
            "node": "List Forms (Page)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Forms (Page)": {
      "main": [
        [
          {
            "node": "Split Forms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Forms": {
      "main": [
        [
          {
            "node": "Fetch Leads (Graph API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Leads (Graph API)": {
      "main": [
        [
          {
            "node": "Split Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Leads": {
      "main": [
        [
          {
            "node": "Normalize Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Lead": {
      "main": [
        [
          {
            "node": "Assign Commercial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Commercial": {
      "main": [
        [
          {
            "node": "Build Lead Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Lead Payload": {
      "main": [
        [
          {
            "node": "Create Lead (Supabase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
